configuration (  
        master_exec_path = "/home/cad/eda/SYNOPSYS/IC_VALIDATOR-2022.12/icvalidator/U-2022.12-SP5/bin/LINUX64_L31el/icv_manager",
        slave_exec_path = "/home/cad/eda/SYNOPSYS/IC_VALIDATOR-2022.12/icvalidator/U-2022.12-SP5/bin/LINUX64_L31el/icv_worker",
        engine_exec_path = "/home/cad/eda/SYNOPSYS/IC_VALIDATOR-2022.12/icvalidator/U-2022.12-SP5/bin/LINUX64_L31el/icv_engine",
        working_directory = "/home/WBPD04/JashtiG/VLSI_PD/Fusion_compiler_labs/FC_LABS_handsOn/Macro_projects/RISC/icvDRC_run",
        run_details_directory = "/home/WBPD04/JashtiG/VLSI_PD/Fusion_compiler_labs/FC_LABS_handsOn/Macro_projects/RISC/icvDRC_run/run_details",
        group_directory = "/home/WBPD04/JashtiG/VLSI_PD/Fusion_compiler_labs/FC_LABS_handsOn/Macro_projects/RISC/icvDRC_run/run_details/group"
 );

hosts ( 
      batch_system = "0", 

      machines = {  
                 { mavenserver-rh1, ""},
                 { mavenserver-rh1, ""},
                 }
);
